* {
  background-color: #2a2a2e;
  color: white;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error {
  border: 3px solid red;
  color: red;
  padding: 10px;
}

.success {
  border: 3px solid green;
  color: green;
  padding: 10px;
}

button {
  font-size: 15px;
}

.blog {
  border: 2px solid white;
  padding: 10px;
  width: 400px;
}
